<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatisgenerator.crud.product.biz.dao.ProductDAO">

    <select id="findOneById" useCache="true" resultType="com.mybatisgenerator.crud.product.biz.dto.ProductDTO">
        select * from products where id = #{id};
    </select>
    <select id="findAll" useCache="true" resultType="com.mybatisgenerator.crud.product.biz.dto.ProductDTO">
        select * from products as u
        <where>
            <if test="keywords == null">
                true
            </if>
            <if test="keywords != null">
                LOWER(u.description) LIKE LOWER(concat('%', #{keywords}, '%'))
            </if>
        </where>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
    <select id="count" useCache="true" resultType="java.lang.Integer">
        select count(u.id) from products as u
        <where>
            <if test="keywords == null">
                true
            </if>
            <if test="keywords != null">
                LOWER(u.description) LIKE LOWER(concat('%', #{keywords}, '%'))
            </if>
        </where>
    </select>

    <insert id="create" keyProperty="true">
        INSERT INTO products
        (
            id,
            description
        )
        VALUES
        (
            #{id},
            #{description}
        );
    </insert>
    <update id="update" flushCache="true">
        UPDATE products SET description = #{dto.description} WHERE id = #{id}
    </update>
    <delete id="delete" flushCache="true">
        DELETE FROM products WHERE id = #{id}
    </delete>

</mapper>